.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.item {
    width: 100%;
    padding: 1rem;
    max-width: 350px;
    margin: 0 auto;
    div {
        font-size: 2rem;
    }

    h2 {
        margin-top: 0.5rem;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    p {
        margin-top: 0.5rem;
        font-size: 1rem;
        line-height: 1.5rem;

    }

}

/* Configuración de diseño en dispositivos de pantalla grande */
@media (min-width: 768px) {
    .container {
        margin-top: 4rem;
        flex-wrap: nowrap;
        /* Evita el desplazamiento de elementos en dispositivos de pantalla grande */
    }

    .item {
        width: calc(33.33% - 20px);

        div {
            font-size: 1.5rem;
        }

        h2 {
            margin: 1rem;
            font-weight: 600;
            font-size: 1.25rem;
            /* 20px */
            line-height: 1.75rem;
            /* 28px */
        }

        p {
            font-size: 1rem;
            /* 16px */
            line-height: 1.5rem;
            /* 24px */
        }

    }

    /* El último elemento en la fila no tiene margen derecho */
    .item:nth-child(3n) {
        margin-right: 0;
    }
}