@import 'reset';

// Colores
$font-color: inherit;
$link-color: green;
$background-light: rgb(248, 251, 253);
$background-dark: black;
$button-bg: #4a5663;
$button-hover-bg: #4a5663;

body {
  font-family: ui-sans-serif, Arial, sans-serif;
}

input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

button {
  padding: 0 10px;
  background-color: $button-bg;
  border: none;
  color: #fff;
}

button:hover {
  color: white;
  background-color: $button-hover-bg;
}

.themeButton,
button {
  border: none;
  color: $font-color;
  cursor: pointer;
}


.app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.light {
  color: black;
  background-color: $background-light;
  button{
    color: white;
  }
}

.dark {
  color: white;
  background-color: $background-dark;
  
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}

.RocketLaunch {
  margin-left: 5px;
  font-size: 1.5rem;
}

.header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;

  div {
    cursor: default;
  }

  button {
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  span {
    display: flex;
    align-items: center;
    padding: 1.25rem;
    color: $link-color;
  }

  h1 {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.5rem;

    span {
      background-image: linear-gradient(to right, #ff0000, #ff5151, #ff0000);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      display: inline-block;
    }
  }

  p,
  .infoSend {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .register {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    input {
      width: 60%;
    }

    button {
      width: 40%;
    }
  }

  .containerInoSend {
    margin: 1rem auto;
    height: 2rem;
    text-align: center;
  }

  .infoSend {
    font-size: 1rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  bottom: 0;

  span {
    display: flex;
    align-items: center;

    a {
      outline: none;
      text-decoration: none;
      margin-left: 6px;
      color: cornflowerblue;
    }
  }
}

@media (min-width: 640px) {
  .register {
    max-width: 350px;

    input {
      width: 70%;
      border-radius: 5px;
    }

    button {
      border-radius: 5px;
      margin-left: 5px;
    }
  }
}

/* Configuración de diseño en dispositivos de pantalla grande */


@media (min-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    padding-left: 1rem;
    padding-right: 1rem;

    span {
      display: flex;
      align-items: center;
      padding: 1.25rem;
    }

    h1 {
      font-size: 4.5rem;
      line-height: 1;

      span {
        background-image: linear-gradient(to right, #ff0000, #ff5151, #ff0000);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        display: inline-block;
      }
    }

    p {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }

    .register {
      max-width: 600px;

      input {
        width: 75%;
        border-radius: 5px;
      }

      button {
        border-radius: 5px;
        margin-left: 5px;
        width: 25%;
      }
    }

  }
}